body{
    margin: 0rem 0.2rem 0rem 0.2rem;
}

.parentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    margin: 0.5rem 0rem 1.2rem 0rem;
    background-color: #fff !important;
    border-radius: .3rem;
}

.contentDetails{
    border-radius: .3rem;
    margin-bottom: 0.1rem;
    background-color: #fff;

    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 25px !important;
}
#releases{
    overflow: scroll;
    height: -webkit-fill-available;
}
.contentDetails form{
    display: flex;
    justify-content: space-between;
}

.header p {
    margin-bottom: 0px;
    color: #888;
    font-size: 0.8rem;
    font-weight: 700;
}

.header h1 {
    margin-top: 0px;
    color: #001C41;
}

table{
    width: 100%;
}

.fifteenPercent{
    width: 15% !important;
}

.tenPercent{
    width: 10% !important;
}

.middleCenter{
    width: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 0;
    height: auto;
    top: 50%;
}

.released{
    background: #c1fbbf;
    padding: 0.1rem 0.3rem;
}

.unreleased{
    background: #faeead;
    padding: 0.1rem 0.3rem;
}

.inprogress{
    background: #87d3f8;
    padding: 0.1rem 0.3rem;
}
.progressBar{
    padding-right: 2rem !important;
}
.editSubtext{
    color: rgb(176, 179, 184);
    cursor: pointer;
    font-size: 0.7rem;
}
.editSubtext>a{
    color: #007bff !important;
}

.elipsis{
    max-width: 15%;
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
@media (min-width: 576px) {
    .header {
        padding: 1rem 3rem !important;
        border-radius: 0.3rem;
    }
    
    .contentDetails{
        padding: 1rem 3rem;
    }
}